/*google fonts*/
.concert-one-regular {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
.jacquard-24-regular {
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-style: normal;
}
.mansalva-regular {
  font-family: "Mansalva", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.wallpoet-regular {
  font-family: "Wallpoet", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*end of google fonts*/

html,body{
	height: 99%;
	width: 99%;
	background-color: #1f306e;
	font-family: "Concert One", sans-serif;
}
*{
	box-sizing: border-box;
}
.banner{
border: 0px solid #553772;
  border-radius: 12px;
  position: relative;
  margin-top: 0px;
	/*
  background-image: url("images/triang.png");
  background-repeat: no-repeat;
  background-size: 100% 650px;
	*/
  color: #f5487f;
  height: 500px;
  width: 100%;
  text-align: center;
  font-size: 4em;
}
h1{
	font-size: 0.7em;
}
ul {
  background-color: #553772;
  color: #c7417b;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
}
li {
	display: inline;
	float: left;
  }
  a {
	text-decoration: none;
	color: white;
  }
  a:visited{
	color: white;
  }
  li a:hover{
	border: 0px solid #553772;
	border-radius: 12px;
	background-color: #f5487f;
  }
  div{
	padding: 5px 16px;
	background-color: #553772;
	border: 0px solid #553772;
	border-radius: 12px;
	text-align: center; 
  }
  li a {
	transition: background-color 1s;
	display: block;
	border: 0px solid #553772;
	border-radius: 12px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
#logo{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 50px;
	right: 260px;
}
.container{
	color: white;
  position: relative;
  border: 0px solid #8f3b76;
  border-radius: 12px;
  margin-top: 10px;
  padding: 20px 24px;
  background-color: #8f3b76;
.container h2{
  font-size: 3em;
}
.container h3{
  font-size: 2em;
}
}
.wave{
	border: red 1px solid;
	background-color: rgba(255,34,45, 0.5);
	font-size: 0.9em;
	height: 25px;
	overflow: hidden;
	width: 80%;
	position:relative;
	left: 10%;
	transition: height 4s;
	display:block;
}
#l1{
	border:#afd69b 1px solid;
	background-image:repeating-linear-gradient(red, green);
}
.wave:hover{
	height:90%;
	top:1px;
	z-index:1;
}
.menu{
	position: absolute;
	top: 50px;
	left: 70px;
	color:#5f9ea0;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 2em;
	text-shadow: 2px 2px #317873;
	font-style: oblique;
	width: 100px;
	overflow: hidden;
}
.menu a{
	color: #a0d6b4;
	background-color: #317873;
	text-shadow: 0px 0px ;
	font-size: 0.5em;

	padding: 1px;
	border: 1px solid red;
	display: none;
}
.menu:hover a{
	display: block;
}
.menu a:hover{
	color: yellow;
	background-color: navy;
}
.left{
	width: 48%;
	position:absolute;
	left: 5px;
	background-color: salmon;
	color: ghostwhite;
	border:2px ghostwhite;
	border-radius:5%;
	font-family:'Times New Roman', Times, serif;
	font-size:2em;
	text-align:center;
}
.right{
	width:48%;
	position: absolute;
	right:5px;
	background-color: salmon;
	color: ghostwhite;
	border:2px ghostwhite;
	border-radius:5%;
	font-family:'Times New Roman', Times, serif;
	font-size:2em;
	text-align:center;

}
.drop{
  height: 80px;
  width: 80%;
  position: relative;
  left: 10%;
  transition: height 2s;
  display: block;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
}
.drop:hover{
  height: 500px;
  z-index: 1;
}
.active{
	background-color: #8f3b76;
	border: 0px solid #553772;
	border-radius: 12px;
  }